/**
* * Card Services
*/
.card-services {
    display: flex;

    .card__images {
        width: 50%;

        .card__image {
            width: 400px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .card__description {
        width: 50%;
    }
}