/**
* * Work
*/
.work {
    padding-top: 10rem;

    .work__heading, .work__subheading {
        text-align: center;
        margin-bottom: 50px;
    }
}

@media (max-width: 1400px) {
    .work {
        padding-top: 6rem;
    
        .work__subheading {
            margin-bottom: 10px;
        }
    }
}