/**
* * Card Choose Us
*/
.card-choose-us {
    .card__icon {
        margin-bottom: 30px;
    }

    .card__title {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .card-choose-us {
        .card__icon {
            margin-bottom: 10px;
        }
    }
}