/**
* * About
*/
.about {
    padding-top: 10rem;

    .about__subheading, .about__heading {
        text-align: center;
        margin-bottom: 50px;
    }

    .about__content {
        display: flex;
    }

    .about__info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .about__info-subheading {
            margin-bottom: 50px;
        }

        .about__info-heading {
            margin-bottom: 50px;
        }

        .about__description {
            max-width: 650px;
        }
    }

    .about__image {
        width: 50%;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 1400px) {
    .about {
        padding-top: 8rem;
        
        .about__subheading {
            margin-bottom: 10px;
        }

        .about__content {
            display: block;
        }

        .about__info {
            width: 100%;
            margin-bottom: 30px;
            text-align: center;

            .about__description {
                margin: 0 auto;
            }

            .about__info-subheading, .about__info-heading  {
                margin-bottom: 10px;
            }
        }

        .about__image {
            width: 90%;
            margin: 0 auto;
        }
    }
}