/**
* * Card Category
*/
.card-category {
    & + & {
        padding-top: 60px;
        border-top: 2px solid lightgray;
        margin-top: 60px;
    }

    .card__heading {
        margin-bottom: 60px;
    }

    .card__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card__description {
        max-width: 480px;
    }
}

@media (max-width: 1400px) {
    .card-category {
        & + & {
            margin-top: 30px;
        }

        .card__heading {
            margin-bottom: 10px;
        }

        .card__subheading {
            display: none;
        }
    }
}