/**
* * Contact Form
*/
.contact-form {
    padding: 10rem 0;
    max-width: 900px;
    margin: 0 auto;

    .contact-form__inner {
        padding: 0 15px;
    }
}

/**
* * Form
*/
.form {
    .form__heading {
        margin-bottom: 50px;

        .form__title {
            margin-bottom: 20px;
        }
    }
    
    .form__body {
        margin-bottom: 50px;

        .form__row {
            display: flex;
        }

        .form__field {
            width: 100%;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            font-size: 20px;
            outline: none;
            transition: .2s;
            border: 1px solid lightgray;
        }

        input:focus, textarea:focus {
            border: 1px solid #0864dc;
        }

        textarea {
            resize: none;
        }

        label, input {
            display: block;
        }

        label {
            margin-bottom: 10px;
        }

        .form__field + .form__field {
            margin-left: 20px;
        }

        .form__row + .form__row {
            margin-top: 30px;
        }
    }
}

@media (max-width: 1024px) {
    // Contact Form
    .contact-form {
        padding-bottom: 4rem;
        padding-top: 8rem;
    }

    // Form
    .form {
        .form__body {
            .form__row {
                display: block;
            }
            
            .form__field + .form__field {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
}